#masonry-content {
 -moz-column-count: 4;
 -moz-column-gap: 20px;
 -webkit-column-count: 4;
 -webkit-column-gap: 20px;
 column-count: 4;
 column-gap: 20px;
 width: 100%;
 padding-left: 12%;
 padding-right: 12%;
}

#masonry-content img{
 display: inline-block;
 margin-bottom: 0px;
 width: 100%;
 border: 3px solid black;
}

/* RESPONSIVE */

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	#masonry-content {
		-moz-column-count: 4;
		-moz-column-gap: 20px;
		-webkit-column-count: 4;
		-webkit-column-gap: 20px;
		column-count: 4;
		column-gap: 20px;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
	}
}


@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	#masonry-content {
		-moz-column-count: 4;
		-moz-column-gap: 0px;
		-webkit-column-count: 4;
		-webkit-column-gap: 0px;
		column-count: 4;
		column-gap: 0px;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
	}
}

@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	#masonry-content {
		-moz-column-count: 3;
		-moz-column-gap: 10px;
		-webkit-column-count: 3;
		-webkit-column-gap: 10px;
		column-count: 34;
		column-gap: 10px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
	}
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	#masonry-content {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
	}
}
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
 #masonry-content {
 -moz-column-count: 3;
 -moz-column-gap: 20px;
 -webkit-column-count: 3;
 -webkit-column-gap: 20px;
 column-count: 3;
 column-gap: 20px;
 width: 100%;
 padding-left: 12%;
 padding-right: 12%;
 }
}


@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
 #masonry-content {
 -moz-column-count: 2;
 -moz-column-gap: 20px;
 -webkit-column-count: 2;
 -webkit-column-gap: 20px;
 column-count: 2;
 column-gap: 20px;
 width: 100%;
 padding-left: 12%;
 padding-right: 12%;
 }
}

@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
 #masonry-content {
 -moz-column-count: 2;
 -moz-column-gap: 10px;
 -webkit-column-count: 3;
 -webkit-column-gap: 10px;
 column-count: 2;
 column-gap: 10px;
 width: 100%;
 padding-left: 12%;
 padding-right: 12%;
 }
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
 #masonry-content {
 -moz-column-count: 1;
 -moz-column-gap: 0px;
 -webkit-column-count: 1;
 -webkit-column-gap: 0px;
 column-count: 1;
 column-gap: 0px;
 width: 100%;
 padding-left: 12%;
 padding-right: 12%;
 }
}
