<div class="main-menu-container">
  <h1 class="gestalta">
    <a class="gestalta" href="{{site.baseurl}}/#gestalta"><span class="jp-plus">G</span><span class="jp-minus">E</span>ST<span class="jp-plus">A</span>LT<span class="jp-minus">A</span></a>
  </h1>
  <ul class="main-menu main-menu2">
    <li><a class="scroll-link-home" href="{{site.baseurl}}/#gestalta">Home</a></li>
    <li><a class="scroll-link" href="{{site.baseurl}}/#shibari">Shibari</a></li>
    <li><a class="scroll-link" href="{{site.baseurl}}/#art">Art</a></li>
    <li><a class="scroll-link" href="{{site.baseurl}}/#model">Model</a></li>
    <li><a class="scroll-link" href="{{site.baseurl}}/#contact">Contact</a></li>
    <li><a class="scroll-link" href="{{site.baseurl}}/#cv">CV</a></li>
  </ul>
</div>

<div class="nav-mobile">
  <a id="nav-toggle" href="#!"><span></span></a>
</div>
