<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/events">Upcoming Events</a></li>
  </ul>
</div>
{% include submenu.html category="Teaching" %}
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/events">Bookings</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-title">
    <li>Portfolio</li>
  </ul>
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/performance">Performance</a></li>
    <li><a href="{{baseurl}}/events">Photo + Video</a></li>
    <li><a href="{{baseurl}}/events">Installation Art</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="http://instagram.com/Gestalta" target="_blank">Instagram</a></li>
    <li><a href="http://facebook.com/Gestalta" target="_blank">Facebook</a></li>
    <li><a href="http://twitter.com/Gestalta" target="_blank">Twitter</a></li>
    <li><a href="http://gestalta.tumblr.com" target="_blank">Tumblr</a></li>
  </ul>
</div>
