{% include submenu.html category="photography" %}
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/art/portfolioarchive">Portfolio Archives</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="http://instagram.com/Gestalta" target="_blank">Instagram</a></li>
    <li><a href="http://facebook.com/Gestalta" target="_blank">Facebook</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-title"><a href="{{baseurl}}/#art"><< Back</a></ul>
</div>
