<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/upcomingevents">Upcoming Events</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-title">Teaching</ul>
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/privateshibarituition">Private Shibari Tuition</a></li>
    <li><a href="{{baseurl}}/shibariworkshops">Shibari Workshops</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/nope">Bookings</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-title">Portfolio</ul>
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/performance">Performance</a></li>
    <li><a href="{{baseurl}}/installationart">Installation Art</a></li>
    <li><a href="{{baseurl}}/shoots">Shoots</a></li>
    <li><a href="{{baseurl}}/video">Video</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="http://instagram.com/Gestalta" target="_blank">Instagram</a></li>
    <li><a href="http://facebook.com/Gestalta" target="_blank">Facebook</a></li>
    <li><a href="http://twitter.com/Gestalta" target="_blank">Twitter</a></li>
    <li><a href="http://gestalta.tumblr.com" target="_blank">Tumblr</a></li>
  </ul>
</div>
