<div class="submenu">
    <nav>
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/shibari">Portfolio</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-title">Teaching</ul>
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/shibari/privatetuition">Private Tuition</a></li>
    <li><a href="{{baseurl}}/shibari/workshops">Workshops</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="{{baseurl}}/shibari/events">Events</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-options">
    <li><a href="http://instagram.com/Gestalta" target="_blank">Instagram</a></li>
    <li><a href="http://facebook.com/Gestalta" target="_blank">Facebook</a></li>
  </ul>
</div>
<div class="submenu-section">
  <ul class="submenu-title"><a href="{{baseurl}}/#shibari"><< Back</a></ul>
</div>
</nav>
</div>
