html, body
  text-align: right
  font-family: 'Khula'

.title
  @extend .jp
  pointer-events: none
  @media (min-width: $screen-sm-min)
    font-size: 60px
  @media (min-width: $screen-md-min)
    font-size: 100px
  @media (min-width: $screen-lg-min)
    font-size: 180px
    letter-spacing: -10px
    margin-right: -26px

.title-no-offset
  margin-right: -5px

.splash-section
  padding-top: 12em
  margin: 0.5em
  overflow: hidden

.splash-section-text
  margin-top: 30px
  max-width: 800px
  float: right

.main-menu
  z-index: 9999
  background: white
  text-transform: uppercase
  font-size: 20px
  text-align: right
  list-style: none
  padding: 10px 0

.main-menu li
  width: 100%
  display: block
  @media (min-width: $screen-sm-min)
    width: auto
    display: inline-block
    margin: 0 0 0 40px

.main-menu li a
  padding: 0 5px
  margin: 0

.main-menu li:hover
  background: #333

.main-menu li:hover a
  color: #fff
  text-decoration: none

.main-menu .home
  margin-left: 0
  transition: opacity 0.3s linear
  opacity: 0
  visibility: hidden

.main-menu a
  color: #333

.sticky-wrapper.is-sticky .main-menu .home
  opacity: 1
  visibility: visible

