html, body
  text-align: right
  font-family: 'Khula'
  border-top: 2px solid #333

a
  color: orange

a:hover, a:active, a:visited
  text-decoration: none

#gestalta
  margin-top: 220px

.gestalta
  @extend .jp
  float: left
  margin: 0
  z-index: 9999
  padding-top: 15px
  padding-left: 16px
  @media (min-width: $screen-sm-min)
    padding-left: 16px
    padding-top: 15px
  @media (min-width: $screen-break-min)
    padding-left: 30px
    padding-top: 6px

.gestalta a
  color: #333
  padding: 0

.title
  @extend .jp
  position: relative
  z-index: 4
  pointer-events: none
  font-size: 60px
  @media (min-width: $screen-sm-min)
    font-size: 80px
  @media (min-width: $screen-md-min)
    font-size: 120px
  @media (min-width: $screen-lg-min)
    font-size: 180px
    letter-spacing: -10px
    margin-right: -26px

.title-no-offset
  margin-right: -5px

.second-title
  @extend .jp
  position: relative
  z-index: 4
  pointer-events: none
  font-size: 50px
  @media (min-width: $screen-sm-min)
    font-size: 50px
  @media (min-width: $screen-md-min)
    font-size: 50px
  @media (min-width: $screen-lg-min)
    font-size: 130px
    letter-spacing: -8px
    margin-right: -26px

.title-no-offset
  margin-right: -3px

.splash-section
  position: relative
  margin-top: 500px
  @media (min-width: $screen-sm-min)
    margin-top: 7em
  @media (min-width: $screen-md-min)
    margin-top: 12em
  margin: 0.5em
  min-height: 100vh
  overflow: hidden

.splash-section-image
  position: absolute
  top: 0
  left: 0

.splash-section-text
  // margin-top: 30px
  max-width: 600px
  float: right

#splash-window
  margin-top: 70px

.main-menu-container
  z-index: 9999
  position: fixed
  top: 0
  right: 0
  width: 100%
  overflow: hidden
  background: white

.main-menu
  border-bottom: 5px solid #333
  z-index: 9999
  background: white
  text-transform: uppercase
  font-size: 20px
  line-height: 22px
  text-align: right
  list-style: none
  padding: 10px 0
  display: block

.main-menu li
  width: 100%
  padding-top: 5px
  display: none
  background: #fff
  width: auto
  display: inline-block
  margin: 0 0 0 40px

.main-menu li a
  display: block
  padding: 0 5px
  margin: 0

.main-menu li:hover, .main-menu li.nav-active
  background: #333
  a
    color: #fff

.main-menu a:hover, .main-menu a:active, .main-menu a:link, .main-menu a:visited
  text-decoration: none !important

.main-menu .home
  margin-left: 0
  transition: opacity 0.3s linear
  opacity: 0
  visibility: hidden

.main-menu a
  color: #333

// .sticky-wrapper.is-sticky .main-menu .home
  opacity: 1
  visibility: visible

.main-menu2
  display: none
  @media (min-width: $screen-sm-min)
    display: none
  @media (min-width: $screen-break-min)
    display: block


.splash-section-column
  width: 100%
  vertical-align: top
  display: inline-block
  @media (min-width: $screen-sm-min)
    width: 50%

.month-title
  color: #fff
  background-color: #444
  letter-spacing: 3px
  padding-top: 3px


// main sites
// menu bar
.submenu
  z-index: 9999
  background: white
  height: auto
  top: 10px
  margin-left: 20px
  text-align: right
  padding-top: 0px
  margin-top: 55px
  display: none
  @media (min-width: $screen-sm-min)
    margin-left: 20px
    text-align: right
    height: auto
  @media (min-width: $screen-break-min)
    width: 215px
    margin-left: 50px
    position: fixed
    text-align: left
    height: 95vh
    margin-top: 42px
    margin-left: 20px
    padding: 0 10px
    padding-top: 20px

.submenu-section
  padding-left: 0
  text-transform: uppercase
  padding-bottom: 10px

.submenu-title
  list-style: none
  padding-left: 3px
  font-size: 17px
  margin-bottom: 2px
  font-weight: bold
  @media (min-width: $screen-sm-min)
    font-size: 17px
  @media (min-width: $screen-break-min)
    font-size: 15px

.submenu-options
  font-size: 15px
  line-height: 1
  list-style: none
  padding-left: 0
  @media (min-width: $screen-sm-min)
    font-size: 15px
  @media (min-width: $screen-break-min)
    font-size: 13px

.submenu-options a
  color: #333
  display: inline-block

.submenu a:hover, .submenu a:active, .submenu a:link, .submenu a:visited
  text-decoration: none !important

.submenu-options a:hover, .submenu-options a:active
  color: white
  background: #333

.submenu-options li a
  padding: 3px 3px 0
  margin: 0

//resize menu //
$breakpoint: 882px
$nav-height: 70px
$nav-background: #ffffff
$nav-font-color: #333
$link-hover-color: #333

.nav-mobile
  display: none
  position: absolute
  top: 0
  right: 0
  height: $nav-height
  width: $nav-height

#nav-toggle
  position: absolute
  left: 18px
  top: 22px
  cursor: pointer
  padding: 10px 35px 16px 0px
  z-index: 9999
  span,
  span:before,
  span:after
    pointer-events: none
    cursor: pointer
    border-radius: 1px
    height: 5px
    width: 35px
    background: $nav-font-color
    position: absolute
    display: block
    content: ''
    transition: all 300ms ease-in-out
  span:before
    top: -10px
  span:after
    bottom: -10px
  &.active span
    background-color: transparent
    &:before,
    &:after
      top: 0
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)

@media only screen and (max-width: $breakpoint)
  .nav-mobile
    display: block
  nav
    width: 100%
    padding: 0 15px
    ul
      display: none
      li
        float: none
        a
          padding: 15px
        ul li a
          padding-left: 30px

//resize menu end //

// scrolling gallery
.scrolling-gallery
  height: 100vh
  width: 100vw
  overflow-x: hidden
  overflow-y: auto
  padding-top: 55px
  @media (min-width: $screen-sm-min)
    overflow-x: hidden
    overflow-y: auto
  @media (min-width: $screen-break-min)
    overflow-x: auto
    overflow-y: hidden

.scrolling-gallery-inner
  height: 100%
  width: auto
  white-space: normal
  @media (min-width: $screen-sm-min)
    white-space: normal
  @media (min-width: $screen-break-min)
    padding-left: 230px
    white-space: nowrap

.scrolling-gallery-image-container
  position: relative
  display: block
  margin: 0 16px
  padding-bottom: 35px
  @media (min-width: $screen-sm-min)
    display: block
    padding-bottom: 35px
    margin: 0 16px
  @media (min-width: $screen-break-min)
    display: inline-block
    height: 100%
    // padding-bottom: 0
    padding-bottom: 35px
    margin: 0 10px

.scrolling-gallery-image
  width: calc(100%)
  height: auto
  @media (min-width: $screen-sm-min)
    width: calc(100%)
    height: auto
  @media (min-width: $screen-break-min)
    height: calc(100% - 40px)
    width: auto

.scrolling-gallery-image-caption
  text-align: left
  position: absolute
  white-space: normal
  height: 40px
  padding: 5px 0
  font-size: 13px
  line-height: 1.1

// gallery archive

.scrolling-gallery-archive-title
  text-align: right
  text-transform: uppercase
  position: absolute
  white-space: normal
  height: 60px
  padding: 5px 0
  line-height: 1.1
  color: #333
  font-size: 15px
  @media (min-width: $screen-sm-min)
    font-size: 15px
  @media (min-width: $screen-md-min)
    font-size: 20px
  @media (min-width: $screen-lg-min)
    font-size: 25px


.archive-gallery-hover:hover .scrolling-gallery-archive-title
  color: orange

.archive-gallery-hover:hover .link-image
  opacity: 0.5

// archive item

.scrolling-gallery-archive-item-caption
  position: relative
  display: inline-block
  height: auto
  margin-top: 3px
  padding-left: 16px
  padding-right: 16px
  padding-bottom: 20px
  white-space: normal
  vertical-align: bottom
  line-height: 15px
  @media (min-width: $screen-break-min)
    padding-left: 25px
    padding-bottom: 40px
    max-width: 500px
    margin: 0 10px
    padding-right: 0
    margin-top: 10px



.scrolling-gallery-archive-item-caption-title
  font-size: 17px
  font-weight: bold
  text-transform: uppercase

.scrolling-gallery-archive-item-caption-date-location
  font-size: 15px
  text-transform: uppercase
  margin-bottom: 8px

.scrolling-gallery-archive-item-caption-description
  font-style: italic
  font-size: 14px
  margin-bottom: 8px

.scrolling-gallery-archive-item-caption-credits
  font-size: 15px
  text-transform: uppercase

//for text page2

.information-page
  width: 100%
  padding-left: 16px
  @media (min-width: $screen-sm-min)
    padding-left: 16px
  @media (min-width: $screen-break-min)
    padding-left: 350px

.information-text-h1
  padding-top: 35px
  margin-top: 0px
  padding-bottom: 0px
  text-transform: uppercase
  @extend .jp-minus
  position: relative
  z-index: 4
  padding-right: 16px
  pointer-events: none
  font-size: 23px
  @media (min-width: $screen-sm-min)
    font-size: 23px
    padding-top: 35px
    padding-bottom: 0px
  @media (min-width: $screen-break-min)
    padding-right: 0
    padding-top: 35px
    padding-bottom: 20px
    font-size: 30px
    margin-top: 20px
  @media (min-width: $screen-md-min)
    font-size: 50px
    padding-top: 35px
    padding-bottom: 20px
    margin-top: 20px
  @media (min-width: $screen-lg-min)
    font-size: 70px
    padding-top: 35px
    padding-bottom: 20px
    margin-top: 20px

.information-text-h2
  text-transform: uppercase
  font-weight: bold
  font-size: 16px
  @media (min-width: $screen-sm-min)
    font-size: 16px
  @media (min-width: $screen-md-min)
    font-size: 18px
  @media (min-width: $screen-lg-min)
    font-size: 20px

.information-text
  height: calc(100vh - 100px)
  overflow: scroll
  position: fixed
  padding-bottom: 300px
  padding-right: 20px
  @media (min-width: $screen-sm-min)
    padding-right: 20px
  @media (min-width: $screen-md-min)
    padding-right: 200px

.information-list
  list-style: none
  padding-right: 30px

.text-column-left
  float: left
  white-space: normal
  width: 50%
  height: auto
  padding-right: 15px
  padding-bottom: 15px

.text-image-left
  float: left
  white-space: normal
  width: 100%
  height: auto
  padding-bottom: 15px
  padding-left: 15px
  @media (min-width: $screen-sm-min)
    width: 50%
    padding-right: 15px
    padding-left: 0px

.text-image-right
  float: right
  white-space: normal
  width: 100%
  height: auto
  padding-left: 15px
  padding-bottom: 15px
  @media (min-width: $screen-sm-min)
    width: 50%

.text-image-centre
  width: 100%

.table
  width: auto
  float: left
  margin-right: 20px

.table th
  text-align: right

#mc_embed_signup
  background: #fff
  border: 3px solid black
  clear: left
  font: 14px Khula
  margin: 20px 0 20px 20px

#mc_embed_signup
  form
    display: block
    position: relative
    text-align: left
    padding: 10px 0 10px 3%

  h2
    text-transform: uppercase
    font-weight: bold
    font-size: 16px
    text-align: right
    margin-right: 4%
    margin-top: 5px
    margin-bottom: 5px
    @media (min-width: $screen-sm-min)
      font-size: 16px
    @media (min-width: $screen-md-min)
      font-size: 18px
    @media (min-width: $screen-lg-min)
      font-size: 20px

  input
    border: 2px solid black
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px

    &[type=checkbox]
      -webkit-appearance: checkbox
        border: 1px black solid

    &[type=radio]
      -webkit-appearance: radio

    &:focus
      border-color: #333

  .button
    clear: both
    background-color: #FFF
    border: 2px solid black
    border-radius: 0px
    transition: all 0.23s ease-in-out 0s
    color: black
    cursor: pointer
    display: inline-block
    font-size: 15px
    font-weight: normal
    height: 32px
    line-height: 32px
    margin: 0 5px 10px 0
    padding: 0 7px
    text-align: center
    text-decoration: none
    vertical-align: top
    white-space: nowrap
    width: auto
    text-transform: uppercase

    &:hover
      background-color: black
      color: #FFF
      border: 2px solid black

  .small-meta
    font-size: 11px

  .nowrap
    white-space: nowrap

  .mc-field-group
    clear: left
    position: relative
    width: 96%
    padding-bottom: 3%
    min-height: 50px

  .size1of2
    clear: none
    float: left
    display: inline-block
    width: 46%
    margin-right: 4%

* html #mc_embed_signup .size1of2
  margin-right: 2%

  /* Fix for IE6 double margins.

#mc_embed_signup
  .mc-field-group
    label
      display: block
      margin-bottom: 10px
      line-height: 5px

    input
      display: block
      width: 100%
      padding: 4px 0
      text-indent: 2%

    select
      display: inline-block
      width: 99%
      padding: 5px 0
      margin-bottom: 2px

  .datefield, .phonefield-us
    padding: 5px 0

  .datefield input
    display: inline
    width: 60px
    margin: 0 2px
    letter-spacing: 1px
    text-align: center
    padding: 5px 0 2px 0

  .phonefield-us
    input
      display: inline
      width: 60px
      margin: 0 2px
      letter-spacing: 1px
      text-align: center
      padding: 5px 0 2px 0

    .phonearea input, .phonedetail1 input
      width: 40px

  .datefield
    .monthfield input, .dayfield input
      width: 30px

    label
      display: none

  .phonefield-us label
    display: none

  .indicates-required
    text-align: right
    font-size: 11px
    margin-right: 4%
    line-height: 5px
    margin-top: 10px

  .asterisk
    color: orange
    font-size: 150%
    font-weight: normal
    position: relative
    top: 5px

  .clear
    clear: both

  .mc-field-group.input-group
    ul
      margin: 0
      padding: 5px 0
      list-style: none

      li
        display: block
        padding: 3px 0
        margin: 0

    label
      display: inline
      margin-left: 5px

    input
      display: inline
      width: auto
      border: none

  div
    &#mce-responses
      float: left
      top: -1.4em
      padding: 0em .5em 0em .5em
      overflow: hidden
      width: 90%
      margin: 0 5%
      clear: both

    &.response
      margin: 1em 0
      padding: 1em .5em .5em 0
      font-weight: bold
      float: left
      top: -1.5em
      z-index: 1
      width: 80%

  #mce-error-response
    display: none

  #mce-success-response
    color: orange
    display: none

  label.error
    display: block
    float: none
    width: auto
    margin-left: 1.05em
    text-align: left
    padding: .5em 0

#mc-embedded-subscribe
  clear: both
  width: auto
  display: block
  margin: 1em 0 1em 5%

#mc_embed_signup
  #num-subscribers
    font-size: 1.1em

    span
      padding: .5em
      border: 1px solid #ccc
      margin-right: .5em
      font-weight: bold

  #mc-embedded-subscribe-form
    div.mce_inline_error
      display: inline-block
      margin: 2px 0 1em 0
      padding: 5px 10px
      background-color: rgba(255, 255, 255, 0.85)
      -webkit-border-radius: 0px
      -moz-border-radius: 0px
      border-radius: 0px
      font-size: 14px
      font-weight: normal
      z-index: 1
      color: orange

    input.mce_inline_error
      border: 3px solid orange


// masonry

.masonry-gallery
  height: calc(100vh - 30px)
  width: 100%
  padding-left: 0
  padding-top: 1 0px
  overflow-y: auto
  @media (min-width: $screen-sm-min)
    padding-left: 0
    padding-top: 10px
  @media (min-width: $screen-break-min)
    padding-left: 200px
    padding-top: 60px

.masonry-post
  margin-bottom: 5px
  display: inline-block

.masonry-gallery-archive-title
  text-align: right
  text-transform: uppercase
  position: relative
  white-space: normal
  height: auto
  padding: 8px 0
  line-height: 1
  color: #333
  font-size: 15px

.masonry-gallery-hover:hover .masonry-gallery-archive-title
  color: orange

.masonry-gallery-hover:hover .link-image
  opacity: 0.5

.masonry-gallery-image-container
  height: calc(100vh - 100px)
  overflow: scroll
  position: fixed
  padding-bottom: 200px
  padding-right: 20px
  @media (min-width: $screen-sm-min)
    padding-right: 20px
  @media (min-width: $screen-md-min)
    padding-right: 80px
  @media (min-width: $screen-lg-min)
    padding-right: 150px

.masonry-gallery-image
  width: calc(100%-40px)
  height: auto
  @media (min-width: $screen-sm-min)
    width: calc(100%-40px)
    height: auto
  @media (min-width: $screen-md-min)
    height: calc(100% - 40px)
    width: auto
  @media (min-width: $screen-lg-min)
    height: calc(100% - 40px)
    width: auto
