img, embed, object{
	max-width: 100%;
}

#layout {
	/width: 90%;
	margin: auto;
	text-align: left;
}

#posts ul {
	list-style: none;
	margin: auto;
	padding: 0px;
}

#posts ul li {
	margin: 0px 20px 20px 0px;
	float: right;
}


.post-image {
	width: 200px;
	border: 3px solid black
}


/****** Media Queries For Adaptive Layouts******/

@media only screen and (min-width: 1367) {

	#posts ul li {
		width: 220px;
	}
}

@media only screen and (max-width: 1366) {

	#posts ul li {
		width: 273px;
	}
}

/* Tables - Landscape */
@media only screen and (max-width: 1280) {

	#posts ul li {
		width: 252px;
	}

}

/* Tables - Landscape */
@media
only screen and (max-device-width:1024px),
only screen and (max-width: 1024px) {

	#posts ul li {
		width: 265px;
	}

}

/* Tables - Verticle */
@media
only screen and (max-device-width:768px),
only screen and (max-width: 768px) {

	#posts ul li {
		width: 300px;
	}
}

/* Smart Phone */
@media
only screen and (max-device-width:600px),
only screen and (max-width: 600px) {

	#logo, #links {
		float: none;
		text-align: center;
	}

	#links {
		margin: 0 0 0 0;
	}

	#posts ul li {
		width: 100%;
	}

	#page {
		border-left: 0px;
		width: 100%;
		margin: 0 0 0 0 ;
		padding: 0 0 0 0 ;
	}

	#page img {
		width: 100%;
	}
}
